<header class="panel-cover panel-cover--collapsed" style="background-image: url(<%= config.root %>images/background-cover.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="<%= config.root %>" title="前往 空谷幽兰 的主页"><img src="<%= config.root%>images/logo.jpg" width="80" alt="空谷幽兰 logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="<%= config.root %>" title="link to homepage for 空谷幽兰">空谷幽兰</a></h1>
        <span class="panel-cover__subtitle panel-subtitle">一念静心，花开遍世界</span>
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">想法, 记录</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
            <% for (var i in theme.menu){ %>
              <li class="navigation__item"><a href="<%- theme.menu[i] %>"><%= i %></a></li>
            <% } %>
            </ul>
          </nav>
          </div>
          <div>
          <%- partial('_partial/social', {}) %>
          </div>
        </div>

      </div>

    </div>

    <div class="panel-cover--overlay cover-purple"></div>
  </div>
</header>